body {
  margin: 0px;
  font-family: "PT Sans", sans-serif;
}

.logo {
  height: 115px;
  background-color: white;
  padding: 0px 600px;
}

.links {
  display: block;
  height: 45px;
  font-size: 22px;
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.links a {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  display: inline-block;
  background-color: pink;
}

#carouselExampleCaptions img {
  margin: 40px 0px 0px 0px;
  height: 750px;
}

#hero {
  background-color: pink;
  height: 175px;
  padding: 20px;
}

#hero h2 {
  font-size: 36px;
  margin: 0px 30px;
}

#hero p {
  margin: 15px 30px;
}

#firstCol {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin: 50px 0px;
  padding: 15px 5%;
  gap: 50px;
  align-items: center;
}

#firstCol img {
  height: 400px;
  width: auto;
}

#secondCol {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin: 50px 0px;
  padding: 20px 5%;
  gap: 50px;
  align-items: center;
}

#secondCol img {
  height: 400px;
  padding: 0px 15px 0px 60px;
  width: auto;
}

.words {
  max-width: 50%;
  padding: 100px;
}

.shopButton {
  color: black;
}

.words p {
  max-width: 90%;
}

footer {
  background-color: pink;
  padding: 5px 0px 0px 0px;
  font-size: 18px;
}

#end {
  display: flex;
  margin: 20px 0px 0px 50px;
}

.leftside p {
  max-width: 50%;
}

.rightSide {
  display: flex;
  margin: 50px 0px 0px 200px;
}

.rightSide a {
  height: 100px;
  padding: 20px 0px 0px 25px;
  margin: 0px 15px;
  max-width: 50%;
}

.rightSide img {
  height: 20px;
}

#title {
  background-color: black;
  text-align: center;
  font-size: 14px;
  color: white;
}

.titleimg {
  position: relative;
  display: inline-block;
  padding: 30px 0px 15px 0px;
}

.titleimg img {
  max-height: 500px;
  width: auto;
}

.overlay-text {
  font-family: Georgia, "Times New Roman", Times, serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 40%);
  background-color: #000000;
  color: #fff;
  padding: 50px 50px;
  font-size: 48px;
  text-align: center;
}

.titlewords {
  max-width: 100%;
  padding: 10px 40px 15px 40px;
  font-size: 18px;
}

#gallery {
  padding: 20px 0px 0px 0px;
  display: flex;
}

#gallery img {
  max-width: 100%;
}

#galleryTwo {
  padding: 20px 0px 0px 0px;
  display: flex;
}

#galleryTwo img {
  max-width: 100%;
}

.item {
  padding: 10px;
  display: block;
  max-width: 25%;
}

.itemTwo {
  padding: 10px;
  display: block;
  max-width: 25%;
}

.linksTwo {
  display: block;
  height: 45px;
  font-size: 22px;
  color: white;
  text-align: center;
  padding: 10px 0px 70px 0px;
  text-decoration: none;
}

.linksTwo a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  display: inline-block;
  background-color: black;
}

#quote {
  background-color: black;
  color: white;
  margin: 25px;
  padding: 15px;
  text-align: center;
}

#quote p {
  padding: 10px 25px 10px 25px;
}

button {
  background-color: pink;
}
